<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <welcome-file-list>
    <welcome-file>Main.html</welcome-file>   
  </welcome-file-list>
    <servlet>
        <servlet-name>ExcelApi</servlet-name>
        <servlet-class>servlets.ExcelApi</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadGame</servlet-name>
        <servlet-class>servlets.UploadGame</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadERF</servlet-name>
        <servlet-class>servlets.UploadERF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadBiofuelsIBM</servlet-name>
        <servlet-class>servlets.UploadBiofuelsIBM</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Upload_Biofuels_First_pol_name</servlet-name>
        <servlet-class>servlets.Upload_Biofuels_First_pol_name</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExcelApi</servlet-name>
        <url-pattern>/ExcelApi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadGame</servlet-name>
        <url-pattern>/UploadGame</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadERF</servlet-name>
        <url-pattern>/UploadERF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadBiofuelsIBM</servlet-name>
        <url-pattern>/UploadBiofuelsIBM</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Upload_Biofuels_First_pol_name</servlet-name>
        <url-pattern>/Upload_Biofuels_First_pol_name</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <servlet>
        <servlet-name>consensus</servlet-name>
        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>jersey.config.server.provider.packages</param-name>
            <param-value>web</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>consensus</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
</web-app>
